<main>
    <div class="row">

        {{#with header}}
        <h1 class="mb-4">{{title}}</h1>

        <div class="col-3 mb-3">
            {{#with button}}
            <a class="btn btn-outline-secondary" href="{{link}}">{{text}}</a>
            {{/with}}
        </div>
        {{/with}}

        <hr>


        <div>
            {{#each goodsBlock}}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{image}}" class="card-img-top">
                        </div>
                        <div class="col-4 pt-3">
                            <h4>{{name}}</h4>
                            <p>{{description}}</p>
                        </div>
                        <div class="col-2  ms-5 mt-4">
                            {{#with price}}
                            <p>{{title}}</p>
                            <h5>{{value}}</h5>
                            {{/with}}
                        </div>
                        <div class="col-2 mt-5">
                            <p>{{amount}}</p>
                        </div>
                        <div class="col-1 my-3 py-3">
                            {{#each buttons}}
                            {{#if isPrimary}}
                            <button class="btn btn-primary mb-2">{{text}}</button>
                            {{/if}}
                            {{#if isDanger}}
                            <button class="btn btn-outline-danger">{{text}}</button>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <hr>

        <div>
            {{#with total}}
            <h3 class="mb-3 mt-4">{{title}}</h3>

            <h2 class="mb-2">{{amount}}</h2>

            <p>{{delivery}}</p>
            <div class="row">
                <div class="col-4">
                    {{#each buttons}}
                    {{#if isSuccess}}
                    <a href="link" class="btn btn-success mb-3">{{text}}</a>
                    {{/if}}
                    {{#if isOutline}}
                    <a href="link" class="btn btn-outline-success mb-3">{{text}}</a>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>
        <hr>

        <div>
            {{#with goodsOtherBlock}}
            <div class="display-6 text-center mt-4 mb-3">{{title}}</div>

            <div class="row">
                {{#each cards}}
                <div class="col-4 mb-3">
                    <div class="card">
                        <img src="{{image}}" class="card-img-top">
                        <div class="card-header">{{title}}
                            {{#if isHot}}
                            <span class="badge bg-warning">HOT</span>
                            {{/if}}
                            {{#if idNew}}
                            <span class="badge bg-primary">{{New}}</span>
                            {{/if}}
                        </div>
                        <div class="card-body">
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>

        <hr>

        <div>
            {{#with subscribe}}
            <div class="card text-bg-dark">
                <div class="card-body">
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>

                    <div class="row">
                        <div class="col-4">
                            {{#each buttons}}
                            <a class="btn btn-primary mt-2" href="{{link}}">{{text}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>

        <hr>
    </div>
</main>