{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<div class="p-3">
    {{#with main}}
    <main>
        <h1>Work history</h1>

        {{#each works}}
        <p>{{position}}</p>

        {{#with company}}
        <a href="{{url}}">{{name}}</a>
        {{/with}}

        {{#with duration}}
        <p>{{from}} - {{to}} (Still working)</p>
        {{/with}}
        <br>
        <h2>Projects</h2>

        {{#each projects}}
        <a href="{{url}}">{{name}}</a>
        <p class="my-3">{{about.name}}</p>


        <div class="card mb-3">
            <div class="card-body">
                {{#each stacks}}
                <ul>
                    <li>{{name}}</li>
                </ul>
                {{/each}}
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {{#each awards}}
                <ul>
                    <li>{{name}}</li>
                </ul>
                {{/each}}
            </div>
        </div>
        {{/each}}
        {{/each}}
        <hr>
        <div>
            <a href="/summary" class="btn btn-secondary mt-4">Come back to summary</a>
        </div>
    </main>
    {{/with}}

    {{>footer}}
</div>